.row{
    background-color: white;
}

.col1{
    color:white;
    text-align:center;
    border:1px solid black;
    margin:2px;
    background-color:red;
    min-height:100px;
}

.col2{
    color:white;
    text-align:center;
    border:1px solid black;
    margin:2px;
    background-color:blue;
    min-height:100px;
}

.col3{
    color:white;
    text-align:center;
    border:1px solid black;
    margin:2px;
    background-color:green;
    min-height:100px;
}

.row2Col1{
    color:white;
    text-align:center;
    border:1px solid black;
    margin:2px;
    background-color:red;
    min-height:100px;
}

.row2Col2{
    color:white;
    text-align:center;
    border:1px solid black;
    margin:2px;
    background-color:blue;
    min-height:100px;
}

.row2Col3{
    color:white;
    text-align:center;
    border:1px solid black;
    margin:2px;
    background-color:green;
    min-height:100px;
}

.row2Col4{
    color:white;
    text-align:center;
    border:1px solid black;
    margin:2px;
    background-color:yellow;
    min-height:100px;
}

.row3Col1{
    color:white;
    text-align:center;
    border:1px solid black;
    margin:2px;
    background-color:red;
    min-height:100px;
}
